<div _ngcontent-kxc-c57="" 
    class="card-header bg-secondary  border-primary text-white text-uppercase"  style="text-align: center;">
     {{tituloVentana}}
</div>
<br>
<div >

   <mat-form-field appearance="legacy">
         <input matInput placeholder="Nombres" [(ngModel)]="apoderado.nombre" (keyup)="validarCampos()">
         <small *ngIf="validacion.nombre_count" class="invalido" >Debe tener más de 3 caracteres</small>
         <small *ngIf="validacion.nombre_text" class="invalido" >Nombre es requerido</small>
         <mat-icon matSuffix>people</mat-icon>
    </mat-form-field>

     <!--
    <div>
        <mat-form-field >
            <!--<mat-icon matPrefix>people</mat-icon>-->
     <!--       <input matInput placeholder="Nombres" [(ngModel)]="apoderado.nombre">
        </mat-form-field>
    </div>-->
    <mat-form-field>
        <input matInput placeholder="Apellidos" [(ngModel)]="apoderado.apellidos"  (keyup)="validarCampos()">
        <small *ngIf="validacion.apellido_count" class="invalido" >Debe tener más de 3 caracteres</small>
        <small *ngIf="validacion.apellido_text" class="invalido" >Apellido es requerido</small>
        <mat-icon matSuffix>people</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="DNI" [(ngModel)]="apoderado.dni" type="number" maxlength="8" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        (keyup)="validarCampos()" >
        <small *ngIf="validacion.dni_count" class="invalido" >Debe tener 8 caracteres</small>
        <small *ngIf="validacion.dni_text" class="invalido" >DNI es requerido</small>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Dirección" [(ngModel)]="apoderado.direccion">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Teléfono" [(ngModel)]="apoderado.telefono">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="apoderado.email">
    </mat-form-field>
    <mat-form-field>
        <!--<mat-select placeholder="Parentesco"  [(value)]="idParentescoSeleccionado" >-->
        <mat-select placeholder="Parentesco"  [(ngModel)]="idParentescoSeleccionado" (click)="validarSeleccion(idParentescoSeleccionado)">
            <mat-option *ngFor="let p of parentesto" [value]="p.idParentesco">{{p.desTipo }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" [max]="maxFecha"
            [(ngModel)]="fechaSeleccionada" (dateChange)="cambieFecha($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--<img mat-card-image [src]="apoderado.fotoUrl" alt="" width="50%" height="50%" *ngIf="apoderado.fotoUrl != null">-->
    <div class="mat-diplay-button">
        <button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
    </div>
</div>



