<mat-toolbar>{{tituloConsulta}}</mat-toolbar>
<div style="  padding: 10px 24px 0;">
    <div _ngcontent-yqb-c57="" class="card border-primary" >
        <div _ngcontent-yqb-c57="" class="card-body">
            <form _ngcontent-yqb-c57="" novalidate="" class="ng-pristine ng-valid ng-touched">
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Tipo de Consulta:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <select _ngcontent-yqb-c57="" formcontrolname="cbValorTipoRecurso" id="cbValorTipoRecurso"
                        [(ngModel)]="idTipoConsulta"(change) ="validarSeleccion(t.value)" [ngModelOptions]="{standalone: true}"
                         class="form-control form-control-sm ng-untouched ng-pristine ng-valid" #t>

                            <option _ngcontent-yqb-c57="" value="0"> Seleccione</option>
                            <option _ngcontent-yqb-c57="" value="1"> Alumnos</option>
                            <option _ngcontent-yqb-c57="" value="2"> Apoderados</option>
                            <option _ngcontent-yqb-c57="" value="3"> Programación Academica</option>
                            <option _ngcontent-yqb-c57="" value="4"> Matrícula</option>
                            <option _ngcontent-yqb-c57="" value="5"> Pagos</option>
                            <option _ngcontent-yqb-c57="" value="6"> Deuda</option>
                        </select>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                    </div>
                    <!--
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <button _ngcontent-yqb-c57="" type="button" class="btn btn-primary btn-sm mr-1 mw-150"> Flitrar </button>
                    </div>
                    -->
                </div>
           </form>
      </div>
   </div>
</div>
   <div style="  padding: 10px 24px 0;" [hidden]="!filtros[1]">
    <div _ngcontent-yqb-c57="" class="card border-primary" >
        <div _ngcontent-yqb-c57="" class="card-body">
            <form _ngcontent-yqb-c57="" novalidate="" class="ng-pristine ng-valid ng-touched">
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">ID Alumno:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtIdAlumno" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroAlumno.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Nombre:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtNombre" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroAlumno.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Apellido:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtApellido" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroAlumno.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Documento:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtTipoDocumento" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroAlumno.documento" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Tipo Descuento:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <select _ngcontent-yqb-c57="" formcontrolname="cbTipoDescuento" id="cbTipoDescuento"
                        [(ngModel)]="filtroAlumno.tipoDescuento"(change) ="seleccionarTipoDescuento(filtroAlumno.tipoDescuento)" [ngModelOptions]="{standalone: true}"
                         class="form-control form-control-sm ng-untouched ng-pristine ng-valid" #t>
                            <option _ngcontent-yqb-c57="" *ngFor="let p of tipoDescuento" [value]="p.idDescuento"> 
                                {{p.desTipoDescuento }}
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Fecha de Nacimiento:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Fecha de Nacimiento" [max]="maxFecha"
                            [(ngModel)]="filtroAlumno.fechaNacimiento" (dateChange)="cambieFecha($event)" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Fecha de Ingreso:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="Fecha de Ingreso" [max]="maxFecha"
                            [(ngModel)]="filtroAlumno.fechaIngreso" (dateChange)="cambieFecha($event)" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-3">
                    </div>
                    <div _ngcontent-yqb-c57=""   style="text-align: center;">
                        <button _ngcontent-yqb-c57="" type="button" class="btn btn-primary btn-sm mr-1 mw-150" (click)="abrirConsultaAlumnoDialogo()"> 
                            Buscar 
                        </button>
                    </div>
                </div>
           </form>
       </div>
     </div>
  </div> 
  <div style="  padding: 10px 24px 0;" [hidden]="!filtros[2]">
    <div _ngcontent-yqb-c57="" class="card border-primary" >
        <div _ngcontent-yqb-c57="" class="card-body">
            <form _ngcontent-yqb-c57="" novalidate="" class="ng-pristine ng-valid ng-touched">
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">ID Apoderado:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtIdAlumno" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroAlumno.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreApoderado" class="form-control-sm">Nombre:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtNombre" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="apellidoApoderado" class="form-control-sm">Apellido:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtApellido" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="numeroDocumento" class="form-control-sm">Documento:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtTipoDocumento" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.documento" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Teléfono:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtTeleéfono" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="25"
                        [(ngModel)]="filtroApoderado.telefono" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Fecha de Nacimiento:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker3" placeholder="Fecha de Nacimiento" [max]="maxFecha"
                            [(ngModel)]="filtroApoderado.fechaNacimiento" (dateChange)="cambieFecha($event)" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Fecha de Registro:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker4" placeholder="Fecha de Registro" [max]="maxFecha"
                            [(ngModel)]="filtroApoderado.fechaRegistro" (dateChange)="cambieFecha($event)" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-3">
                    </div>
                    <div _ngcontent-yqb-c57=""   style="text-align: center;">
                        <button _ngcontent-yqb-c57="" type="button" class="btn btn-primary btn-sm mr-1 mw-150" (click)="abrirConsultaAlumnoDialogo()"> 
                            Buscar 
                        </button>
                    </div>
                </div>
           </form>
       </div>
     </div>
  </div> 
  <div style="  padding: 10px 24px 0;" [hidden]="!filtros[3]">
    <div _ngcontent-yqb-c57="" class="card border-primary" >
        <div _ngcontent-yqb-c57="" class="card-body">
            <form _ngcontent-yqb-c57="" novalidate="" class="ng-pristine ng-valid ng-touched">
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">ID Programación Académica:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtIdProgAca" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroAlumno.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="codigoPrgoAcademica" class="form-control-sm">Código Progranación Academida:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtCodProgAca" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="anio" class="form-control-sm">Año:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtAnio" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="4"
                        [(ngModel)]="filtroApoderado.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="apellidoApoderado" class="form-control-sm">Nivel:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtApellido" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="apellidoApoderado" class="form-control-sm">Grado:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtApellido" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="numeroDocumento" class="form-control-sm">Sección:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtTipoDocumento" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.documento" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Estado:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtTeleéfono" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="25"
                        [(ngModel)]="filtroApoderado.telefono" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Fecha de Registro:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker5" placeholder="Fecha de Registro" [max]="maxFecha"
                            [(ngModel)]="filtroApoderado.fechaRegistro" (dateChange)="cambieFecha($event)" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-3">
                    </div>
                    <div _ngcontent-yqb-c57=""   style="text-align: center;">
                        <button _ngcontent-yqb-c57="" type="button" class="btn btn-primary btn-sm mr-1 mw-150" (click)="abrirConsultaAlumnoDialogo()"> 
                            Buscar 
                        </button>
                    </div>
                </div>
           </form>
       </div>
     </div>
  </div>  
  <div style="  padding: 10px 24px 0;" [hidden]="!filtros[4]">
    <div _ngcontent-yqb-c57="" class="card border-primary" >
        <div _ngcontent-yqb-c57="" class="card-body">
            <form _ngcontent-yqb-c57="" novalidate="" class="ng-pristine ng-valid ng-touched">
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreApoderado" class="form-control-sm">ID Matrícula:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtNombre" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="apellidoApoderado" class="form-control-sm">Estado:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtApellido" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="numeroDocumento" class="form-control-sm">Alumno:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <app-alumno-autocomplete  (alumnoSeleccionadoGlobal)="procesarEventoAlumno($event)">
                        </app-alumno-autocomplete>
                    </div>

                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Código de Programación Académica:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <app-programacion-autocomplete (programacionSeleccionadoGlobal)="procesarEventoProgramacion($event)"> 
                        </app-programacion-autocomplete>
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Fecha de Matrícula:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker6" placeholder="Fecha de Registro" [max]="maxFecha"
                            [(ngModel)]="filtroApoderado.fechaRegistro" (dateChange)="cambieFecha($event)" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                            <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-3">
                    </div>
                    <div _ngcontent-yqb-c57=""   style="text-align: center;">
                        <button _ngcontent-yqb-c57="" type="button" class="btn btn-primary btn-sm mr-1 mw-150" (click)="abrirConsultaAlumnoDialogo()"> 
                            Buscar 
                        </button>
                    </div>
                </div>
           </form>
       </div>
     </div>
  </div>
  <div style="  padding: 10px 24px 0;" [hidden]="!filtros[5]">
    <div _ngcontent-yqb-c57="" class="card border-primary" >
        <div _ngcontent-yqb-c57="" class="card-body">
            <form _ngcontent-yqb-c57="" novalidate="" class="ng-pristine ng-valid ng-touched">
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreApoderado" class="form-control-sm">ID Pago:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtNombre" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="apellidoApoderado" class="form-control-sm">Estado:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtApellido" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="70"
                        [(ngModel)]="filtroApoderado.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="numeroDocumento" class="form-control-sm">Alumno:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <app-alumno-autocomplete  (alumnoSeleccionadoGlobal)="procesarEventoAlumno($event)">
                        </app-alumno-autocomplete>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Código de Programación Académica:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <app-programacion-autocomplete (programacionSeleccionadoGlobal)="procesarEventoProgramacion($event)"> 
                        </app-programacion-autocomplete>
                    </div>
                </div>
                <br>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Periodo:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <input _ngcontent-yqb-c57="" type="text" formcontrolname="txtPeriodo" appstringutils="" pinputtext="" 
                        class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="25"
                        [(ngModel)]="filtroApoderado.telefono" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Fecha de Matrícula:</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker7" placeholder="Fecha de Registro" [max]="maxFecha"
                            [(ngModel)]="filtroApoderado.fechaRegistro" (dateChange)="cambieFecha($event)" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                            <mat-datepicker #picker7></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-3">
                    </div>
                    <div _ngcontent-yqb-c57=""   style="text-align: center;">
                        <button _ngcontent-yqb-c57="" type="button" class="btn btn-primary btn-sm mr-1 mw-150" (click)="abrirConsultaAlumnoDialogo()"> 
                            Buscar 
                        </button>
                    </div>
                </div>
           </form>
       </div>
     </div>
  </div>  
  <div style="  padding: 10px 24px 0;" [hidden]="!filtros[6]">
    <div _ngcontent-yqb-c57="" class="card border-primary" >
        <div _ngcontent-yqb-c57="" class="card-body">
            <form _ngcontent-yqb-c57="" novalidate="" class="ng-pristine ng-valid ng-touched">
                  <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-2">
                        <label _ngcontent-yqb-c57="" for="nombreRazonSocial" class="form-control-sm">Alumno</label>
                    </div>
                    <div _ngcontent-yqb-c57="" class="col-md-4">
                        <app-alumno-autocomplete  (alumnoSeleccionadoGlobal)="procesarEventoAlumno($event)">
                        </app-alumno-autocomplete>
                    </div>
                  </div>
                  <br>
                  <div _ngcontent-yqb-c57="" class="form-group row">
                    <div _ngcontent-yqb-c57="" class="col-md-3">
                    </div>
                    <div _ngcontent-yqb-c57=""   style="text-align: center;">
                        <button _ngcontent-yqb-c57="" type="button" class="btn btn-primary btn-sm mr-1 mw-150" (click)="abrirConsultaDeudaDialogo()"> 
                            Buscar 
                        </button>
                    </div>
                </div>
            </form>
       </div>
     </div>
  </div>

