<div _ngcontent-kxc-c57="" 
    class="card-header bg-secondary  border-primary text-white text-uppercase"  style="text-align: center;">
     {{tituloVentana}}
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
</svg>
<!--
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
        La clave del nuevo usuario se registrará con el valor por defecto de 123456.
    </div>
 </div>
 -->
 <div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
        (*)Campos Obligatorios
    </div>
 </div>
<div>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="Nombres(*)" [(ngModel)]="alumno.nombre" (keyup)="validarCampos()">
        <small *ngIf="validacion.nombre_count" class="invalido" >Debe tener más de 2 caracteres</small>
        <small *ngIf="validacion.nombre_text" class="invalido" >Nombre es requerido</small>
        <mat-icon matSuffix>people</mat-icon>
   </mat-form-field>

   <mat-form-field>
       <input matInput placeholder="Apellidos(*)" [(ngModel)]="alumno.apellidos"(keyup)="validarCampos()">
       <small *ngIf="validacion.apellido_count" class="invalido" >Debe tener más de 2 caracteres</small>
       <small *ngIf="validacion.apellido_text" class="invalido" >Apellido es requerido</small>
       <mat-icon matSuffix>people</mat-icon>
   </mat-form-field>
   <mat-form-field>
    <mat-select placeholder="Tipo Documento(*)"  [(ngModel)]="idTipoDocumentoSeleccionado" (click)="validarSeleccion(idTipoDocumentoSeleccionado)">
        <mat-option *ngFor="let p of tipoDocumento" [value]="p.idTipoDoc">{{p.desTipoDoc }}</mat-option>
    </mat-select>
   </mat-form-field>
   <!--
   <mat-form-field>
       <input matInput placeholder="DNI" [(ngModel)]="alumno.dni" maxlength="8" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
       (keyup)="validarCampos()">
       <small *ngIf="validacion.dni_count" class="invalido" >Debe tener 8 caracteres</small>
       <small *ngIf="validacion.dni_text" class="invalido" >DNI es requerido</small>
   </mat-form-field>
   -->
   <mat-form-field>
    <input matInput placeholder="Número de Documento(*)" [(ngModel)]="alumno.numDocumento" maxlength="15"
    (keyup)="validarCampos()">
   </mat-form-field>
   <app-apoderado-autocomplete  [apoderadoModificado]="alumno" (apoderadoSeleccionadoGlobal)="procesarEvento($event)"> 
   </app-apoderado-autocomplete>
   <mat-form-field>
       <input matInput placeholder="Dirección" [(ngModel)]="alumno.direccion">
   </mat-form-field>
   <mat-form-field>
       <input matInput placeholder="Teléfono" [(ngModel)]="alumno.telefono">
   </mat-form-field>
   <mat-form-field>
       <input matInput placeholder="Email" [(ngModel)]="alumno.email">
   </mat-form-field>
   <mat-form-field>
    <!--<mat-select placeholder="Parentesco"  [(value)]="idParentescoSeleccionado" >-->
    <mat-select placeholder="Género"  [(ngModel)]="idTipoGeneroSeleccionado" (click)="validarSeleccion(idTipoGeneroSeleccionado)">
        <mat-option *ngFor="let p of tipoGenero" [value]="p.idGenero">{{p.desGenero }}</mat-option>
    </mat-select>
</mat-form-field>
   <mat-form-field>
       <!--<mat-select placeholder="Parentesco"  [(value)]="idParentescoSeleccionado" >-->
       <mat-select placeholder="Tipo Descuento"  [(ngModel)]="idTipoDescuentoSeleccionado" (click)="validarSeleccion(idTipoDescuentoSeleccionado)">
           <mat-option *ngFor="let p of tipoDescuento" [value]="p.idDescuento">{{p.desTipoDescuento }}</mat-option>
       </mat-select>
   </mat-form-field>
   <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Fecha de Ingreso" [max]="maxFecha"
        [(ngModel)]="fechaIngresoSeleccionada" (dateChange)="cambieFecha($event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
   </mat-form-field>
   <mat-form-field>
       <input matInput [matDatepicker]="picker2" placeholder="Fecha de Nacimiento(*)" [max]="maxFecha"
           [(ngModel)]="fechaSeleccionada" (dateChange)="cambieFecha($event)">
       <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
       <mat-datepicker #picker2></mat-datepicker>
   </mat-form-field>

   <!--<img mat-card-image [src]="alumno.fotoUrl" alt="" width="50%" height="50%" *ngIf="alumno.fotoUrl != null">-->
   <div class="mat-diplay-button">
       <button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
       <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
   </div>
 </div>
 
 
 
 