<mat-toolbar>Apoderados</mat-toolbar>

<div class="example-container mat-elevation-z8">
  <div class="animate__animated animate__fadeIn animate__delay-0.7s">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="filtrar(($any($event.target).value))" placeholder="Buscar Apoderado">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idApoderado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idApoderado}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.apellidos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dni}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.direccion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.telefono}} </mat-cell>
    </ng-container>

   <!--
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Parenteso </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tipo}} </mat-cell>
    </ng-container>
    -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Parenteso </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{retornarParentesco(row.tipo)}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaNacimiento">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fechaNacimiento|date:"dd-MM-yyyy"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button color="primary" (click)="abrirDialogo(row)" ><mat-icon>ballot</mat-icon></button>
        <button mat-button color="accent" (click)="eliminar(row)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <br>

<button mat-fab color="accent" (click)="abrirDialogo()" style="float: right; margin-right: 20px">
  <mat-icon>queue</mat-icon>
</button>
</div>
</div>

