.mat-form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding: 1%;
  }

  .ocultar {
    display:none;
  }

  .eliminado{
    color:red; 
    font-weight: bold;
  }

  .activo{
    color:rgb(0, 17, 255);
    font-weight: bold;
}
